---
import Layout from "../layouts/Layout.astro";
import Parent from "../components/Parent.svelte";
import Qwe from "../components/Qwe.svelte";
import Child from "../components/Child";
import App from "../components/App";
---

<Layout title="Test task vk ads">
	<main>
		<App />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
